/*--------------
  google fonts 
 -------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* -------
header
-------- */
header{
  margin: 70px 120px 0px 120px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.website-title{
  font-size: 24px;
  line-height: 36px;
  color: #3A3A3A;
  font-weight: bold;
  font-weight: 700;
}

/*------
 navbar
 -----*/
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
  margin-left: 34px;
}

nav ul li a{
  text-decoration: none;
  color: #3A3A3A;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* ---------
influencer section
---------- */
.influencer-section{
  margin: 0px 0px 0px 120px;
}
.influencer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.influencer-title{
  width: 80%;
  height: 270px;
}
.influencer-title h1{
  font-weight: bold;
  font-size: 52px;
  line-height: 70px;
  color: #3A3A3A;
}
.influencer-title p{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A3A3A;
  padding-bottom: 26px;
}
.button{
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 24px;
  background-color: #E02C6D;
  border-radius: 41px;
  line-height: 24px;
  position: absolute;
  transition: background-color 2s, transform 1s ease;
}
.button:hover{
  background-color: rgb(0, 153, 255);
  transform: scale(1.1);
}

.influencer-img{
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 80px;
}