/*--------------
  google fonts 
 -------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* -------
header
-------- */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.website-title{
  font-size: 24px;
  line-height: 36px;
  color: #3A3A3A;
  font-weight: bold;
  font-weight: 700;
  margin: 87px 0px 0px 120px;
}

/*------
 navbar
 -----*/
nav ul{
  display: flex;
  margin: 87px 120px 0px 0px;
}
nav ul li{
  list-style: none;
  margin-left: 34px;
}

nav ul li a{
  text-decoration: none;
  color: #3A3A3A;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
